.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/images/background2new.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}